*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
}

.container{
    width: 100vw;
    height: 100vh;
    background: url(https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExaHp1M2hpbHE0bGoyc2E2ajVsbmhlczlsN3Fjb3lmNnRyOGNsa2phOSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/eJoZAwRN9OI5QjthIE/giphy.gif);
    background-size: 100vw 100vh;
    /*filter: blur(20px);*/
    /* background-image: url(./media/bg.png); */
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.mainContainer{
    position: absolute;
    
    min-width: 40%;
    max-height: 600px;

    /* height: auto; */
    /*background-color: rgba(157, 14, 14, 0.992);*/
    background-color: rgba(26, 26, 26, 0.992); 
    border-radius: 30px;
    box-shadow: 10px 10px 50px rgba(173, 175, 176, 0.314), 0px 0px 50px 80px rgba(0, 0, 0, 0.701);
    border: 3px double rgba(240, 248, 255, 0.078);
    
    padding: 1.5rem;

    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;
    text-align: center;
}

/*
   ===================================
            LOGO SECTION
   ===================================
*/
header{
    display: flex;
    align-items: center;
    gap:1rem;
    margin: 10px;

}
header h1{
    font-size: 2.8rem;
    font-family: "Bodoni Moda", serif;
    text-shadow: 0px 0px 4px  aliceblue;
    text-shadow: 5px 5px 10px 10px aliceblue;
}
header img{
    width: 3rem; 
    height: auto;   
}

/*
   ===================================
            MAIN SECTION
   ===================================
*/
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    scrollbar-color: transparent transparent;
}

.searchArea{
    max-width: 55rem;
    height: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px;
}
#searchBar, #submit{
    height: 2.8rem;
    border: 3px solid rgba(240, 248, 255, 0.703);
    margin: 10px;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: 800;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px; 
    background-color: transparent;  
}

#searchBar{
    width: 100%;
    text-align: center;
    box-shadow: 0px 0px 25px rgba(240, 248, 255, 0.264);
}
#submit{
    width: 9rem;
    background-color: aliceblue;
    color: black;
    box-shadow: inset 0px 0px 20px black;
    font-weight: 1000;
}

/*
   ===================================
            MAIN DATA SECTION
   ===================================
*/
#scrollMore{
    font-size: 0.8rem;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
}
.mainData{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: auto;
    /* background-color: rgb(7, 49, 35);*/
    /* border: 2px dotted aliceblue; */
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    
}
.hidden {
    display: none !important;
}

.mainData span{
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8rem;
}

.overview{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}
.card{
    /* margin: 5px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: 100%;
    height: 100%;
    background-color: rgb(31, 33, 33);
    border-radius: 10px;
    border: 2px solid rgba(128, 128, 128, 0.149);
}

.rank{
    display: flex;
    width: 180px;
    text-align: left; 
}
.rank p{
    font-weight: 600;
    font-size: 0.8rem;
    color: grey;
}
.rank h1{
    font-size: 1.8rem;
}
.name{
    text-align: right;
       
}
.label{
    font-weight: 600;
    font-size: 0.8rem;
    color: grey;
}
.name h1{
    font-size: 1.8rem;
}

.base{
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#totalActiveDay{
    color: rgb(64, 187, 64);
}
#totalSolved{
    
    color: rgb(10, 153, 201);
    
}
#maxStreak{
    color: rgb(190, 190, 58);
}

.progressBar{
    height: 12px;
    width: 100%;
    background-color: rgba(240, 248, 255, 0.159);
    border-radius: 10px;
    margin: 10px 0px;
}
.progress-fill{
    height:100%;
    width: var(--progress-bar,0%);
    background: linear-gradient(90deg, #c244a6, #9502a8);
    border-radius: 10px;
}
.totalCard{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
}
.deepCard{
    background-color: rgba(26, 26, 26, 0.992);
    border-radius: 5px;
    padding: 10px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid rgba(128, 128, 128, 0.149);
}
.easyMedHard{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.emh{
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 0.3rem;
}

.emhLabel{
    font-weight: 600;
    font-size: 1.1rem;
    color: grey;
    padding-bottom: 5px;
}
.emhPercent{
    font-weight: 900;
    font-size: 0.9rem;
    color: grey;
    margin: 5px 0px;
}

#easySolvedPercent, .el{
    color:  rgb(20, 235, 174);
}
#medSolvedPercent, .ml{
    color:  rgb(248, 122, 5);
}
#hardSolvedPercent, .hl{
    color:   rgb(250, 17, 17);
}

.pie {
  width: 100%;
  height: 120px;
  border-radius: 50%;
  border: 2px solid #5b5b5bd6; /* thin outer ring like screenshot */
}

.ePie{
    background: conic-gradient(
        rgb(20, 235, 174) var(--progress-degree, 0%),   /* blue slice */
        #6564643f 0%  /* gray rest */
    );
}
.mPie{
    background: conic-gradient(
        rgb(248, 122, 5) var(--progress-degree, 0%),   /* blue slice */
        #6564643f 0%  /* gray rest */
    );
}
.hPie{
    background: conic-gradient(
        rgb(250, 17, 17) var(--progress-degree, 0%),   /* blue slice */
        #6564643f 0%  /* gray rest */
    );
}


/*
   ===================================
            FOOTER SECTION
   ===================================
*/

footer{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: 0.9rem;
    text-shadow: 0px 0px 1px aliceblue;
    margin: 20px 10px 10px 10px;
}